<header>
  <dx-toolbar class="title-bar">
    <dxi-item
      *ngIf="menuToggleEnabled"
      location="before"
      widget="dxButton"
      [options]="{
        icon: 'bi bi-list',
        stylingMode: 'text',
        onClick: toggleMenu
      }">
    </dxi-item>
    <dxi-item
      location="before"
      *ngIf="(title$ | async)"
      [text]="title$ | async">
    </dxi-item>
    <dxi-item
      location="after"
      locateInMenu="auto"
      >
      <div *dxTemplate>
        <dx-button icon="bi bi-person-fill" stylingMode="text" (onClick)="toggleAccountMenu($event)">
          <div *dxTemplate="let data of 'content'">
            <i class="dx-icon {{data.icon}}"></i>
            <span [style.height]="'30px'" [style.paddingLeft]="'0px'" class="dx-button-text dx-button-badge dx-badge">{{ sessionExpiration$ | async }}</span>
          </div>
        </dx-button>
      </div>
    </dxi-item>
  </dx-toolbar>
</header>
<ballware-application-account-menu #accountMenu></ballware-application-account-menu>
