<ballware-datagrid *ngIf="(columns$ | async) && (dataSource$ | async)"
    [identifier]="(storageIdentifier$ | async) ?? undefined"
    [customFunctions]="(headCustomFunctions$ | async) ?? []"
    [showReload]="true"
    [showAdd]="(showAdd$ | async) ?? false"
    [showPrint]="(showPrint$ | async) ?? false"
    [showExport]="(showExport$ | async) ?? false"
    [showImport]="(showImport$ | async) ?? false"
    (reloadClick)="onReloadClicked()"
    (customFunctionClick)="onCustomFunctionClicked"
    (addClick)="onAddClicked($event)"
    (printClick)="onPrintClicked()"
    (exportClick)="onExportClicked()"
    (importClick)="onImportClicked()"
    (rowDblClick)="onRowDblClicked()"
    [isMasterDetailExpandable]="isMasterDetailExpandable"
    [exportFileName]="exportFileName"
    [layout]="(gridLayout$ | async) ?? undefined"
    [summary]="(summary$ | async) ?? undefined"
    [mode]="(mode$ | async) ?? 'large'"
    [height]="(height$ | async)!"
    [dataSource]="(dataSource$ | async)!"
    [columns]="(columns$ | async) ?? undefined"
    >
    <ng-content></ng-content>
</ballware-datagrid>
