<dx-tab-panel [showNavButtons]="true" [swipeEnabled]="true" [style]="styles" [items]="panels" (selectedIndexChange)="onTabChanged($event)" [selectedIndex]="(selectedTab$ | async) ?? 0">
    <div *dxTemplate="let item of 'title'">
        <span *ngIf="!item.options.itemoptions.entity" class="dx-tab-text">{{item.options.itemoptions.caption}}</span>
        <div *ngIf="item.options.itemoptions.entity">
            <span class="dx-tab-text">{{item.options.itemoptions.caption}}</span>&nbsp;<ballware-page-tabs-counter [entity]="item.options.itemoptions.entity" [query]="item.options.itemoptions.query"></ballware-page-tabs-counter>
        </div>
    </div>
    <div *dxTemplate="let item of 'item'" class="flex-fill overflow-hidden row row-cols-xs-1 row-cols-lg-12">
        <ballware-page-item *ngFor="let layoutItem of item?.items" [layoutItem]="layoutItem" [colCount]="layoutItem.colCount">
        </ballware-page-item>
    </div>
</dx-tab-panel>
